<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">
    <resultMap type="com.a.EnGround.vo.CategoryVO" id="categoryMap">
        <result property="categoryNo" column="category_No"/>
        <result property="categoryName" column="category_Name"/>
        <result property="imagePath" column="image_Path"/>
    </resultMap>
     
    <select id="getAll" resultMap="categoryMap" parameterType="HashMap">
        select * from category where category_no IN (SELECT category_no FROM ${table}); 

    </select>
    
    <select id="count" resultType="int">
        select count(*) from category
    </select>
    
    <insert id="insert" parameterType="com.a.EnGround.vo.CategoryVO" useGeneratedKeys="true" keyProperty="categoryNo">
        insert into category(categoryName, imagePath)
        values(#{categoryName}, #{imagePath})
    </insert>
    
    <update id="update" parameterType="com.a.EnGround.vo.CategoryVO">
        update category set categoryName = #{categoryName}, imagePath = #{imagePath} where categoryNo = #{categoryNo}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from category where categoryNo = #{categoryNo}
    </delete>
    <select id="getAllFromOnline" resultMap="categoryMap">
    	select * from category where category_No Like '2%';
    </select>
</mapper>
